@use "typo";
$fonts: (
    serif: '"Bellefair", serif',
    sans-cond: '"Barlow Condensed", sans-serif',
    sans-normal: '"Barlow", sans-serif',
);

/* font-weight */
$font-weight: 400, 700;

/* colors */
$colors: (
    dark :230 35% 7%,
    light: 231 77% 90%,
    white: 0 0% 100%,
);



/* font-sizes */
$font-sizes: (
    s:(
        900: clamp(5rem, 8vw + 1rem, 9.375rem),
        800: 3.5rem,
        700: 1.5rem,
        600: 1rem,
        500: 1rem,
        400: 0.9375rem,
        300: 1rem,
        200: 0.875rem,
    ),
    m: (
        800: 5rem,
        700: 2.5rem,
        600: 1.5rem,
        500: 1.25rem,
        400: 1rem,
    ),
    l: (
        800: 6.25rem,
        700: 3.5rem,
        600: 2rem,
        500: 1.75rem,
        400: 1.125rem,
    ),
);
:root {
    @each $weight in $font-weight {
        --fw-#{$weight} : #{$weight}; 
    };

    @each $name, $color in $colors {
        --clr-#{$name} : #{$color}; 
    };

     @each $name, $f-s in $font-sizes {
        @each  $nm, $size in $f-s {
            --fs-#{$name}-#{$nm} : #{$size}; 
        }
    };

    @each $name, $font in $fonts {
        --ff-#{$name} : #{$font}; 
    };

}

